$text-color: #95a5a6;
$background-color: #0c1e20;

$card-border: 5px;

@mixin card-border($color, $border-width) {
  color: $color;

  border: $border-width solid $color;
  border-style: dashed;

  margin: -$border-width;
}

@font-face {
  font-family: eight-bit;
  src: url("../fonts/04B_03__.TTF");
}

body {
  font-family: eight-bit;
  -webkit-font-smoothing: antialiased;

  color: $text-color;
  background-color: $background-color;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 20px;
}

.card {
  padding: 5px;

  &:hover {
    @include card-border(white, $card-border);
  }

  .card-title {
    color: #bdc3c7;
  }
}

.add-card {
  text-align: center;
  color: white;

  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;

  &:hover {
    @include card-border(white, $card-border);
  }
}

.board-title {
  text-align: center;
  color: white;
}

.red {
  color: red;
}

div:focus {
  outline: none;
}

.row {
  width: 100%;
}

.span4 {
  width: 300px;
}

.pull-left {
  float: left;
}
