@font-face {
  font-family: eight-bit;
  src: url("../fonts/04B_03__.TTF"); }

body {
  font-family: eight-bit;
  -webkit-font-smoothing: antialiased;
  color: #95a5a6;
  background-color: #0c1e20; }

ul {
  list-style-type: none; }

li {
  margin-bottom: 20px; }

.card {
  padding: 5px; }
  .card:hover {
    color: white;
    border: 5px solid white;
    border-style: dashed;
    margin: -5px; }
  .card .card-title {
    color: #bdc3c7; }

.add-card {
  padding: 5px;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .add-card:hover {
    color: white;
    border: 5px solid white;
    border-style: dashed;
    margin: -5px; }

.red {
  color: red; }

div:focus {
  outline: none; }

.span4 {
  width: 300px; }

.pull-left {
  float: left; }
